docs/thesis/chapters/*.aux
docs/thesis/*.aux
docs/thesis/*.blg
docs/thesis/*.dvi
docs/thesis/*.fls
docs/thesis/*.fdb_latexmk
docs/thesis/*.toc
docs/thesis/*.log
docs/thesis/*.out
docs/thesis/*.pdf
docs/thesis/*.gz
docs/thesis/*.fdb_latexmk
docs/thesis/*.bbl
docs/thesis/*.lof
docs/thesis/*.lot
docs/thesis/*.xdv
docs/thesis/*.nav
docs/thesis/*.snm
docs/thesis/*.xml
docs/presentation/*
docs/presentation/*
docs/paperINTETAIN*
code/src/_*