# Exclude temp files and presentation files
docs/thesis/* 

!docs/thesis/*.tex
!docs/thesis/*.bib
!docs/thesis/*.sty

# Include graphics
!docs/thesis/graphics/


# Exclude temporary / private files
code/src/**/_*

# Exclude Mocap trajectories
code/src/data/**/*.tsv
code/src/data/**/*.csv
